<nav class="navbar navbar-expand-lg navbar-light bg-light">
<button class="button" (click)="drawer.toggle()">
  <img class="hamburger" src="../assets/hamburger.png" alt="hamburger">
</button>
<h2>Ticket-Tool</h2>
</nav>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
  <ul>
    <li><a [routerLink]="'form'">Tickets anlegen</a></li>
    <li><a [routerLink]="'tickets'">Tickets einsehen</a></li>
  </ul>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
 
